 
  <div class="jumbotron text-center">
    <h1>MY BLOG !!</h1>
    <p class="lead">So, you want to start a blog huh? Great idea!
  
        But…how the heck do you get started? There’s so much info out there on the web, and everyone’s telling you to do different things. Who do you listen to? Where’s the starting point?
        
        Damnit, maybe you should just forget it – it’s too confusing!</p>
  
        <p>The word <strong>BLOG</strong> is a conflation of two words: Web and log. It contains in its four letters a concise and accurate 
          self-description: it is a log of thoughts and writing posted publicly on the World Wide Web. 
          In the monosyllabic vernacular of the Internet, Web log soon became the word blog.</p>
    </div>




    
    

    